<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <title>8</title>
    </head>
    <body>
        <!--
            課題
            以下divタグ内に、Vueインスタンスをマウントして、
            practice.js内に定義されている「停車駅一覧」の駅を表示させてください.
            
            【仕様】
            ・すべての駅について「駅のID」「駅名」を表示させること
            ・ulタグとliタグを使って表示させること
            ・「特快停車駅」の駅名の右側に、「特快停車」という文字を表示させること
            ・「特快停車」の表示の切り替えは一覧外に以下のボタンを配置して切り替えること
                「特快停車」を表示させる
                「特快停車」を表示させない
        -->
        <div id =app>
            <ul>
                <li v-for="station in stationArray">
                    {{station.id}} {{station.name}}
                    <span v-if="showSpecialRapid">
                        <span v-show="station.isSpecialRapidStop">特快停車</span>
                    </span>
            </ul>
            <button @click="changeShowSpecialRapid1">特快停車の表示/非表示</button>
        </div>
    </body>
</html>