<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="practice.js" defer></script>
        <title>11</title>
    </head>
    <body>
        <!--
            課題
            practice.jsに定義されている「飲み物の一覧」を
            以下divタグ内に、Vueインスタンスをマウントしたうえで、
            ulタグとliタグを使って表示させてください.
            仕様：
            ・商品名に対して、「飲み物の一覧」に定義されているurlへのリンクを設定してください。
            ・「飲み物の一覧」の中にある「数量」はプルダウンで0個～2個の範囲を入力できるようにしてください。
                ※数量指定用のプルダウンはdivタグ外に部品を用意したので、それを参考にしてください
            ・入力した数量×価格を「金額」として「数量」の入力欄の下に表示させてください。
        -->
        <div id=app>
            <ul>
                <li v-for="menu in menuArray">
                    <a :href="menu.url">{{menu.name}}</a><br />
                    数量：
                    <!-- 数量指定用のプルダウン -->
                    <select v-model="menu.quantity">
                        <option value="0">0個</option>
                        <option value="1">1個</option>
                        <option value="2">2個</option>
                    </select><br />

                    <!-- 入力エリアで入力した値を計算した値を表示する -->
                    金額：<span>{{priceMultiplyQuantity(menu.price, menu.quantity)}}</span>
                </li>
            </ul>
        </div>
        <hr />
        <!-- 数量指定用のプルダウンサンプル -->
        数量指定用のプルダウンサンプル
        <select>
            <option value="0">0個</option>
            <option value="1">1個</option>
            <option value="2">2個</option>
        </select>
    </body>
</html>